
<% @post.each do |post| %>
  <div class="card">
    <small class="card-text">
      Posted by: <%= User.find(post.user_id).username %>, Last update: <%= post.updated_at %>
    </small>
    <h1 class="card-title"><%= link_to post.title, post_path(post) %></h1>
    <div class="card-body">
      <p class="card-text"><%= post.body.html_safe %></p>
    </div>
    <hr>
  </div>
<% end %>
