<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h4>Welcome to family, <%= @user.username %></h4>
<p>
  You have successfully signed up.
  your username is: <%= @user.username %>.<br>
</p>
<p>Thanks for joining!</p>
</body>
</html>
