<footer class="footer">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <span>&nbsp</span>
      <span class="text-muted"><!-- link_to 'Contacts', contacts_path --></span>
      <span class="text-muted"><!-- link_to 'Help', help_path --></span>
    </div>
    <div class="col-4 text-center">
      <small class="text-muted">Created by Alex P @2018</small>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <small class="text-muted">
        View the source code on <a class="btn btn-outline-dark btn-sm" href="https://github.com/OleksandrProtsiuk/blog">GitHub</a>
      </small>
    </div>
  </div>
</footer>
